.subtitle {
  color: #828282;
  font-size: 0.75rem;
  margin-top: 0;
}

.dropzone {
  align-items: center;
  background-color: #f6f8fb;
  border-radius: 0.75rem;
  border: medium dashed #97bef4;
  color: #bdbdbd;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.75rem;
  justify-content: center;
  padding: 2rem;
  transition: all 0.3s ease-in;
  width: 100%;
}

.dropzone:hover {
  opacity: 0.9;
}

.dropzone * {
  /* pointer-events: none; */
  user-select: none;
}

.image-icon {
  width: 115px;
  height: auto;
}
